@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #f58634;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* start header */

header {
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 5.5% 0 7.5%;
  padding: 25px 0;
}

.logo a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.logo a span {
  color: var(--primary-color);
}

.toggle {
  display: none;
}

.menu span {
  cursor: pointer;
  font-size: 16px;
  margin: 0 30px;
  text-transform: capitalize;
}

.menu span:nth-last-child(1) {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 30px;
}

/* end header */

/* start hero */

.header-text {
  align-items: center;
  display: flex;
  margin: 125px 8% 48px 8%;
}

.header-text h1 {
  color: #1b2021;
  flex: 2;
  font-weight: 500;
  font-size: 64px;
}

.header-text .rectangle {
  background-color: var(--primary-color);
  height: 3px;
  width: 38px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.header-text p {
  flex: 1;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 1px;
  padding-right: 20px;
}

.image {
  display: flex;
  flex-direction: column;
}

.image img {
  margin-top: 20px;
  width: 92.5%;
}

.image .card {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: 112px;
  margin-left: 30%;
  margin-right: 7.5%;
  position: relative;
  top: -56px;
}

.card .drop-down {
  display: flex;
  flex: 2;
}

.drop-down > * {
  margin: 0 35px;
}

.card .drop-down > * > h4 {
  color: #1b2021;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.card .drop-down > * > p {
  color: #828282;
  font-size: 16px;
}

.card .src-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 16px;
  padding: 26px 50px;
}

/* end hero */

/* start sale house */

.sale-house {
  margin: 50px 7.5% 48px 7.5%;
}

.sale-house .title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.title .title-left {
  align-items: center;
  display: flex;
}

.title-left > h1 {
  font-weight: 500;
  font-size: 40px;
  margin-right: 30px;
}

.title-left > h4 {
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  margin: 0 30px;
}

.title-left > h4:nth-of-type(1) {
  color: var(--primary-color);
}

.title-right > h4 {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}

.sale-house .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}

.container .card {
  width: 100%;
}

.container .card img {
  width: 100%;
}

.card .image {
  position: relative;
}

.card .image-title span {
  background-color: #fff;
  bottom: 0;
  color: var(--primary-color);
  padding: 16px;
  position: absolute;
  text-transform: capitalize;
}

.card .image-title i {
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 30px;
}

.card .description {
  margin-top: 40px;
}

.description h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.description p:last-child {
  color: var(--primary-color);
  font-size: 24px;
  margin-top: 10px;
}

/* end sale house */

/* start review */

.review {
  margin: 120px 7.5% 48px 7.5%;
}

.title-review {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.tr-left h1 {
  font-weight: 500;
  font-size: 40px;
}

.tr-right h4 {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}

.people-review {
  display: flex;
  gap: 30px;
}

.people-review .card {
  width: 100%;
}

.people-review .card img {
  width: 100%;
}

.people-review .image-name {
  background-color: #ffffff;
  bottom: 0;
  color: var(--primary-color);
  padding: 16px;
  position: absolute;
  text-transform: capitalize;
}

.image-name h6 {
  font-size: 14px;
  font-weight: 400;
}

.people-review .people-description {
  margin-top: 30px;
}

/* end review  */

/* start blog   */

.blog {
  margin: 120px 7.5% 48px 7.5%;
}

.title-blog {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tb-left > h1 {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.tb-right > h4 {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: capitalize;
}

.content-blog {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.cb-left {
  position: relative;
  flex: 0.8;
}

.cb-left img {
  height: 100%;
  width: 100%;
}

.cb-left .cb-profile {
  background-color: #ffffff;
  bottom: 0;
  padding: 10px 20px;
  position: absolute;
}

.cb-profile .main-profile {
  align-items: center;
  display: flex;
}

.main-profile img {
  margin-right: 10px;
  width: 50%;
}

.main-profile .info-profile {
  text-transform: capitalize;
  width: 100%;
}

.info-profile h6 {
  font-weight: 500;
  font-size: 13px;
}

.info-profile p {
  color: #828282;
  font-weight: 500;
  font-size: 10px;
}

.main-content {
  margin-top: 25px;
}

.main-content h4 {
  font-weight: 500;
  font-size: 24px;
}

.main-content p {
  color: #828282;
  font-weight: 400;
  font-size: 16px;
}

.cb-right {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 0.8;
}

.cb-right .other-content {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.other-content img {
  width: 100%;
}

.other-content .title-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
}

.other-content .title-content h4 {
  font-weight: 500;
  font-size: 24px;
}

.other-content .title-content p {
  color: #828282;
  text-transform: capitalize;
}

/* end blog */

/* start subscribe */

.subscribe {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  margin-left: 7.5%;
  padding: 0 23%;
  padding-top: 100px;
  text-align: center;
}

.subs-title h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
}

.subs-input {
  align-items: center;
  display: flex;
  margin-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.subs-input input {
  border: none;
  height: 90px;
  padding-left: 30px;
  width: 700px;
}

.subs-input input:focus {
  outline-color: rgba(0, 0, 0, 0);
}

.subs-input p {
  background-color: var(--primary-color);
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  margin-left: -170px;
  padding: 20px 40px;
  text-align: center;
}

.subs-input input::placeholder {
  font-size: 16px;
}

/* end subscribe */

/* start footer */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding: 40px 7.5%;
}

footer .title h5 {
  color: #828282;
  font-weight: 500;
  font-size: 18px;
}

footer i {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 30px;
}

footer i:not(.bxl-twitter) {
  margin-right: 20px;
}

/* end footer */

@media screen and (max-width: 1400px) {
  .header-text {
    margin: 88px 8% 48px 8%;
  }

  .header-text h1 {
    font-size: 58px;
  }

  .header-text p {
    font-size: 18px;
    line-height: 30px;
  }

  .header-text .rectangle {
    display: none;
  }

  .image img {
    width: 92.5%;
  }

  .image .card {
    height: 80px;
    margin-right: 10%;
    top: -40px;
  }

  .drop-down > * {
    margin: 0 30px;
    padding-left: 5px;
  }

  .card .drop-down > * > h4 {
    line-height: 20px;
    font-size: 14px;
  }

  .card .drop-down > * > p {
    font-size: 14px;
  }

  .card .src-btn {
    font-size: 14px;
    margin-right: 16px;
    padding: 16px 30px;
  }

  .cb-left {
    flex: 1;
  }

  .cb-left .cb-profile {
    padding: 12px;
  }

  .main-profile img {
    width: 40%;
  }

  .main-content {
    line-height: 35px;
    margin-top: 20px;
  }

  .main-content h4 {
    font-size: 22px;
  }

  .main-content p {
    font-size: 14px;
  }

  .cb-right {
    flex: 0.4;
  }

  .cb-right .other-content {
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }

  .other-content .title-content {
    gap: 10px;
    width: 100%;
    position: relative;
    bottom: -5px;
  }

  .other-content .title-content h4 {
    font-size: 22px;
  }

  .subscribe {
    padding-top: 90px;
    margin-top: 170px;
  }

  .subs-input {
    padding-bottom: 90px;
  }

  .subs-title h1 {
    font-size: 44px;
  }

  .subs-input input {
    height: 70px;
    padding-left: 25px;
  }

  .subs-input p {
    font-size: 15px;
    margin-left: -153px;
    padding: 14px 34px;
  }

  .subs-input input::placeholder {
    font-size: 14px;
  }

  footer {
    margin-top: 160px;
  }

  footer .title h5 {
    font-size: 16px;
  }

  footer i {
    font-size: 26px;
  }

  footer i:not(.bxl-twitter) {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .header-text {
    margin: 68px 8% 48px 8%;
  }

  .header-text h1 {
    font-size: 50px;
  }

  .header-text p {
    font-size: 16px;
    line-height: 28px;
  }

  .drop-down > * {
    margin: 0 15px;
    padding-left: 10px;
  }

  .card .drop-down > * > h4 {
    line-height: 20px;
    font-size: 13px;
  }

  .card .drop-down > * > p {
    font-size: 13px;
  }

  .card .src-btn {
    font-size: 13px;
    margin-right: 16px;
    padding: 16px 30px;
  }

  .sale-house .title-left h1 {
    font-size: 36px;
    margin-right: 25px;
  }

  .sale-house .title-left h4 {
    font-size: 18px;
    margin: 0 25px;
  }

  .sale-house .title-right h4 {
    font-size: 18px;
  }

  .card .image-title span {
    font-size: 15px;
    padding: 13px 16px;
  }

  .card .image-title i {
    padding: 9px;
    font-size: 18px;
  }

  .card .description h3 {
    font-size: 26px;
  }

  .card .description p:nth-of-type(1) {
    font-size: 14px;
  }

  .card .description p:last-child {
    font-size: 20px;
  }

  .tr-left h1 {
    font-size: 36px;
  }

  .tr-right h4 {
    font-size: 18px;
  }

  .people-description {
    font-size: 14px;
  }

  .blog .title-blog .tb-left > h1 {
    font-size: 36px;
  }

  .blog .title-blog .tb-right > h4 {
    font-size: 18px;
  }

  .cb-left .cb-profile {
    padding: 10px;
  }

  .main-profile img {
    width: 30%;
  }

  .main-content {
    line-height: 30px;
  }

  .main-content h4 {
    font-size: 21px;
  }

  .main-content p {
    font-size: 13px;
  }

  .info-profile h6 {
    font-size: 12px;
  }

  .info-profile p {
    font-size: 9px;
  }

  .other-content .title-content h4 {
    font-size: 16px;
  }

  .other-content .title-content p {
    font-size: 14px;
  }

  .subscribe {
    padding-top: 80px;
    margin-top: 160px;
  }

  .subs-input {
    padding-bottom: 80px;
  }

  .subs-title h1 {
    font-size: 38px;
  }

  .subs-input input {
    height: 60px;
    padding-left: 23px;
  }

  .subs-input p {
    font-size: 14px;
    margin-left: -146px;
    padding: 11px 34px;
  }

  .subs-input input::placeholder {
    font-size: 12px;
  }

  footer {
    margin-top: 140px;
    padding: 30px 7.5%;
  }

  footer .title h5 {
    font-size: 13px;
  }

  footer i {
    font-size: 22px;
  }

  footer i:not(.bxl-twitter) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    background-color: #ffffff;
    margin: 0;
  }

  .logo {
    align-self: start;
    margin-left: 5%;
  }

  .toggle {
    cursor: pointer;
    display: block;
    font-size: 30px;
    position: absolute;
    margin-right: 5%;
    top: 27px;
    right: 0;
  }

  .menu {
    align-items: center;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
    position: absolute;
    top: 100px;
    transition: 0.3s ease-in-out;
    width: 100%;
  }

  .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .bx-x {
    transform: rotate(360deg);
    transition: 0.4s;
  }

  .menu span {
    color: #000000;
    margin: 15px;
    text-align: center;
    font-size: 14px;
  }

  .menu span:nth-last-child(1) {
    background-color: rgba(245, 134, 52, 0);
    color: #000000;
    padding: 0;
  }

  .header-text {
    margin: 48px 2% 48px 5%;
  }

  .header-text h1 {
    font-size: 42px;
  }

  .header-text p {
    font-size: 14px;
    line-height: 22px;
  }

  .image img {
    width: 95%;
  }

  .image .card {
    margin-right: 5%;
  }

  .drop-down > * {
    margin: 0 10px;
  }

  .card .drop-down > * > h4 {
    line-height: 20px;
    font-size: 11.5px;
  }

  .card .drop-down > * > p {
    font-size: 11.5px;
  }

  .card .src-btn {
    font-size: 11.5px;
    margin-right: 16px;
    padding: 16px 20px;
  }

  .sale-house,
  .review,
  .blog {
    margin: 50px 5% 48px 5%;
  }

  .sale-house .title-left h1 {
    font-size: 32px;
    margin-right: 20px;
  }

  .sale-house .title-left h4 {
    font-size: 16px;
    margin: 0 15px;
  }

  .sale-house .title-right h4,
  .tr-right h4 {
    font-size: 16px;
  }

  .card .image-title span,
  .image .image-name {
    font-size: 14px;
    padding: 8px 16px;
  }

  .card .image-title i {
    padding: 7px;
    font-size: 16px;
  }

  .card .description {
    margin-top: 30px;
  }

  .card .description h3 {
    font-size: 22px;
  }

  .card .description p:nth-of-type(1),
  .people-description {
    font-size: 13px;
  }

  .card .description p:last-child {
    font-size: 18px;
  }

  .tr-left h1 {
    font-size: 32px;
  }

  .blog .title-blog .tb-left > h1 {
    font-size: 32px;
  }

  .blog .title-blog .tb-right > h4 {
    font-size: 16px;
  }

  .cb-left .cb-profile {
    padding: 8px;
  }

  .other-content .title-content h4 {
    font-size: 14px;
  }

  .other-content .title-content p {
    font-size: 12px;
  }

  .main-content {
    line-height: 25px;
  }

  .main-content h4 {
    font-size: 20px;
  }

  .main-content p {
    font-size: 12px;
  }

  .subscribe {
    margin-left: 5%;
    margin-top: 140px;
  }

  .subs-title h1 {
    font-size: 30px;
  }

  .subs-input input {
    height: 50px;
    padding-left: 20px;
  }

  .subs-input p {
    font-size: 13px;
    margin-left: -116px;
    padding: 8px 22px;
  }

  .subs-input input::placeholder {
    font-size: 10px;
  }

  .subscribe {
    padding-top: 60px;
  }

  .subs-input {
    padding-bottom: 60px;
  }

  footer {
    margin-top: 120px;
    padding: 25px 5%;
  }

  footer .title h5 {
    font-size: 12px;
  }

  footer i:not(.bxl-twitter) {
    margin-right: 6px;
  }
}

@media screen and (max-width: 768px) {
  .header-text h1 {
    font-size: 30px;
  }

  .header-text p {
    font-size: 10px;
    line-height: 16px;
  }

  .image .card {
    height: 50px;
    margin-left: 0;
    top: 10px;
  }

  .card .src-btn {
    padding: 12px 30px;
  }

  .sale-house .title-left h1,
  .tr-left h1,
  .blog .title-blog .tb-left > h1 {
    font-size: 28px;
  }

  .sale-house .title-left h4 {
    font-size: 14px;
    margin: 0 10px;
  }

  .sale-house .title-right h4,
  .tr-right h4 {
    font-size: 14px;
  }

  .card .image-title span {
    font-size: 12px;
    padding: 7px 16px;
  }

  .card .image-title i {
    padding: 7px;
    font-size: 15px;
    top: 28px;
  }
  .card .description {
    margin-top: 25px;
  }

  .card .description h3 {
    font-size: 19px;
  }

  .card .description p:nth-of-type(1) {
    font-size: 13px;
  }

  .card .description p:last-child {
    font-size: 18px;
  }

  .image .image-name {
    padding: 7px 12px;
  }

  .image-name h6 {
    font-size: 12px;
  }

  .blog .title-blog .tb-right > h4 {
    font-size: 14px;
  }

  .main-profile .info-profile h6 {
    font-size: 10px;
  }

  .main-profile .info-profile p {
    font-size: 8px;
  }

  .cb-left .cb-profile {
    padding: 6px;
    width: 120px;
  }

  .cb-right {
    gap: 75px;
  }

  .cb-right .other-content {
    gap: 8px;
  }

  .other-content .title-content h4 {
    font-size: 13px;
  }

  .other-content .title-content p {
    font-size: 11px;
  }

  .main-content {
    margin-top: 10px;
    line-height: 20px;
  }

  .main-content h4 {
    font-size: 18px;
  }

  .main-content p {
    font-size: 10px;
  }

  .subscribe {
    margin-top: 110px;
    padding-top: 40px;
  }

  .subs-input {
    margin-top: 30px;
    padding-bottom: 40px;
  }

  .subs-title h1 {
    font-size: 24px;
  }

  .subs-input input {
    height: 40px;
    padding-left: 15px;
  }

  .subs-input p {
    font-size: 12px;
    margin-left: -100px;
    padding: 6px 16px;
  }

  .subs-input input::placeholder {
    font-size: 9px;
  }

  footer {
    margin-top: 80px;
  }

  footer i {
    font-size: 20px;
  }

  footer i:not(.bxl-twitter) {
    margin-right: 4px;
  }
}

@media screen and (max-width: 576px) {
  .header-text h1 {
    font-size: 26px;
  }

  .header-text p {
    font-size: 8px;
    line-height: 14px;
  }

  .card .drop-down > * {
    margin-left: 10px;
  }

  .card .drop-down > * > h4 {
    font-size: 8.5px;
  }

  .card .drop-down > * > p {
    font-size: 8.5px;
  }

  .card .src-btn {
    font-size: 8px;
    padding: 10px 20px;
    margin-right: 10px;
  }

  .sale-house .title {
    margin-bottom: -10px;
  }

  .sale-house .title-left h1 {
    font-size: 18px;
  }

  .sale-house .title-left h4 {
    font-size: 8px;
    margin: 0 4px;
  }

  .sale-house .title-right h4,
  .tr-right h4,
  .blog .title-blog .tb-right > h4 {
    font-size: 10px;
  }

  .card .image-title span {
    font-size: 9px;
    padding: 3px 10px;
  }

  .card .image-title i {
    padding: 5px;
    font-size: 10px;
    right: 5px;
    top: 25px;
  }

  .card .description {
    line-height: 10px;
    margin-top: 15px;
  }

  .card .description h3 {
    font-size: 13px;
  }

  .card .description p:nth-of-type(1) {
    font-size: 9px;
  }

  .card .description p:last-child {
    font-size: 12px;
  }

  .tr-left h1,
  .blog .title-blog .tb-left > h1 {
    font-size: 15px;
  }

  .title-review {
    margin-bottom: -10px;
  }

  .image .image-name {
    padding: 4px;
  }

  .image-name h6 {
    font-size: 8px;
  }

  .people-review .people-description {
    font-size: 10px;
    margin-top: 20px;
  }

  .cb-right {
    gap: 30px;
  }

  .cb-right .other-content {
    gap: 8px;
  }

  .cb-left .cb-profile {
    padding: 4px;
    width: 95px;
  }

  .title-blog {
    margin-bottom: 15px;
  }

  .main-profile .info-profile h6 {
    font-size: 8px;
  }

  .main-profile .info-profile p {
    font-size: 6px;
  }

  .other-content .title-content h4 {
    font-size: 10px;
  }

  .other-content .title-content p {
    font-size: 7px;
  }

  .main-content {
    margin-top: 7px;
    line-height: 18px;
  }

  .main-content h4 {
    font-size: 16px;
  }

  .main-content p {
    font-size: 8px;
  }

  .subscribe {
    margin-top: 90px;
    padding-top: 20px;
  }

  .subs-input {
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .subs-title h1 {
    font-size: 16px;
  }

  .subs-input input {
    height: 30px;
    padding-left: 10px;
  }

  .subs-input p {
    font-size: 8px;
    margin-left: -65px;
    padding: 3px 10px;
  }

  .subs-input input::placeholder {
    font-size: 8px;
  }
}
